<div class="h-screen w-screen bg-fixed " style="background-image: url(images/home">
    <header class=" body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class=" title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

                <span class="ml-3 text-3xl text-yellow-500 uppercase font-extrabold">Hotel Paradise</span>
                <h1 class=" lg:ml-3 text-green-300 font-bold  ">Your Dream Stay</h1>

            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-300 text-white">Home</a>
                <a class="mr-5 hover:text-gray-300 text-white" href="#about">About</a>

                <a class="mr-5 hover:text-gray-300 text-white" href="#gallery">Gallery</a>
                <a class="mr-5 hover:text-gray-300 text-white" href="#room">Rooms</a>
                <a class="mr-5 hover:text-gray-300 text-white" href="#contact">Contact</a>
            </nav>
            <button
                class="inline-flex items-center bg-yellow-400 border-0 py-1 px-3 focus:outline-none hover:bg-yellow-300 rounded text-base mt-4 md:mt-0">Login

            </button>
            <button
                class="inline-flex items-center bg-yellow-400 ml-4 border-0 py-1 px-3 focus:outline-none hover:bg-yellow-300 rounded text-base mt-4 md:mt-0">Register

            </button>
        </div>
    </header>

    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <div class="text-center lg:w-1/2 w-full">
                <h1
                    class="title-font sm:text-4xl  mb-16 lg:text-6xl font-medium  font-serif justify-center text-yellow-400 ">
                    Welcome To Hotel Paradise


                </h1>
                <p class="mb-8 leading-relaxed text-gray-200 w-full font-gothom  text-xxxl ">India’s Strongest Brand
                    across industries and
                    sectors, is an iconic hospitality brand from the Indian Hotels Company Limited. The brand
                    continues to be one of the most revered and loved hospitality brands with a legacy of over
                    116 years of impeccable service </p>
                <div class="flex justify-center">
                    <button
                        class="inline-flex text-black bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-400 rounded text-lg mt-10">Book
                        Now</button>

                </div>
            </div>

        </div>
    </section>
</div>