<section class="text-gray-700 body-font bg-yellow-300" id="room">
    <h1 class="sm:text-3xl lg:text-5xl text-center font-medium title-font  text-gray-700 lg:w-full lg:mb-0 ">Rooms and
        Rates</h1>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="Images/r3.jpg">
                </a>
                <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Villa</h2>
                    <p class="mt-1">$16.00</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="Images/r2.jpg">
                </a>
                <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Luxury Room</h2>
                    <p class="mt-1">$21.15</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover  object-center w-full h-full block" src="Images/r1.jpg">
                </a>
                <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Presidential Suite</h2>
                    <p class="mt-1">$12.00</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="Images/r4.jpg">
                </a>
                <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Double Room</h2>
                    <p class="mt-1">$18.40</p>
                </div>
            </div>

        </div>
    </div>
</section>