

  <div class=" flex flex-wrap p-2 flex-col md:flex-row items-center bg-yellow-900  fixed w-full z-10 top-0">
     
    <a class=" title-font font-medium items-center text-gray-900 mb-4 md:mb-0 ">
     
      <span class="ml-24 text-3xl uppercase text-yellow-400 ">Hotel Paradise</span><br>
      <span class="ml-24 text-md capitalize text-white ">Your dream stay !!!</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <ul class="flex text-center ">
        <li class="mr-6">
            <a class="text-white hover:text-yellow-500 " [routerLink]="['/home']">Home</a>
        </li>
        <li class="mr-6">
            <a class="text-white hover:text-yellow-500" [routerLink]="['/about']">About</a>
        </li>
        <li class="mr-6">
            <a class="text-white hover:text-yellow-500" [routerLink]="['/gallery']">Gallery</a>
        </li>
        <li class="mr-6">
            <a class="text-white hover:text-yellow-500" [routerLink]="['/rooms']">Rooms</a>
        </li>
        
        <li class="mr-6">
            <a class="text-white hover:text-yellow-500" [routerLink]="['/contact']">Contact</a>
        </li>
    </ul>
    </nav>
    <button class="inline-flex items-center bg-yellow-500 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Login
      
    </button>
    <button class="inline-flex items-center bg-yellow-500 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded ml-4 text-base mt-4 md:mt-0 mr-16">Register
      
    </button>
  </div>




<div >
  <router-outlet></router-outlet>
</div>